# Compiled Object files
*.slo
*.lo
*.o
# batocera
*.mo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

# Compiled executable
emulationstation

# build directory
build
Debug
Release
MinSizeRel
RelWithDebInfo
bin
win32-libs

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# Eclipse
.cproject
.project
.settings/

# Clion
.idea/
CPackConfig.cmake
CPackSourceConfig.cmake

# batocera
# po backup
*.po~
/.vs/
*.sqlite
.DS_Store

# mg/emacs
*~

# external dependencies (modeled after ES-DE)
external/

# ES-DE
es-pdf-convert

